{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier", // this config will override above configs, is it okay for me? what about airbnb rules?
        "prettier/react" // don't know why it here...
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error",
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "jsx-a11y/label-has-associated-control": ["error", {
            "required": {
                "some": ["nesting", "id"]
            }
        }],
        "react/destructuring-assignment": [1, "always", {
            "ignoreClassFields": true
        }],
        "react/prop-types": [0]
    }
}
