.select {
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;

	select {
		display: block;

		width: 100%;
		padding: 10px 10px;
		border: 1px solid transparent;
		border-radius: 2px;
		border-color: #6400e4;

		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
	}
}
