.loader {
	border-top-color: #51d !important;
	border-radius: 50%;

	animation: is-rotating 1s linear 0s infinite;

	&--page {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: auto;
		border: 2px solid #e5e5e5;
		width: 30px;
		height: 30px;
	}
}

@keyframes is-rotating {
	to {
		transform: rotate(360deg);
	}
}
