@import '../../shared/variables.less';

.settings {
	padding: 32px;
	border: 1px solid @black;

	background: @white;

	position: absolute;
	bottom: 0;

	@media screen and (min-width: 768px) {
		width: 400px;
		height: 300px;
	}
}
